*{
list-style: none;
text-decoration: none;
}

.title{
    font-family: Imbue;
}

.body{
    margin: 0px;
}

.landing{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/pexels-ahmed-hariry-mahmoud-1810298-3455391.jpg);
    background-position: fixed;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.landing-div{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 0px;
}

.dog{
    font-family: Imbue;
    color: red;
    font-size: 300px;
}
