*{
list-style: none;
text-decoration: none;
}

.title{
    font-family: Imbue;
    color: rgb(243, 2, 2);
    font-size: 12px;
    line-height: 89%;
    margin-top: 62vh;
}

.body{
    margin: 0px;
    background-color: red;
}

.landing{
    margin: 0;
    height: 100vh;
    width: 98.vw;
    background-image: url(./img/pexels-ahmed-hariry-mahmoud-1810298-3455391.jpg);
    background-position: fixed;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.landing-div{
    display: flex;
    justify-content: center;
    align-items: end;
}

.dog{
    font-family: Imbue;
    color: rgb(243, 2, 2);
    font-size: 340px;
    line-height: 80%;
    margin-top: 62.8vh;
    /* margin-top: 0px; */
}

.box{
width: 32px;
height: 90vw;
background-color: black;
}

/* 
.triangle{
    width: 30px;
    height: 30px;
    background-color: aquamarine;
} */


























